.contacts__info,
.contacts__info a {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  font-family: $roboto;
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &--address {
    margin-bottom: 44px;
  }

  &--email {
    display: block;
    margin-bottom: 38px;
    font-weight: 700;
  }

  &--phone {
    margin: 0;
    font-weight: 700;

    & a {
      text-decoration: none;
    }
  }
}

.contacts--mob {
  display: none;
}

.contacts__note {
  display: block;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);

  &:hover {
    text-decoration: none;
  }
}

.contacts__item {
  display: flex;
}

.contacts__icon {
  margin-right: 15px;
  fill: $emerald;
}

@media (max-width: $desktop-width) {
  .contacts__info,
  .contacts__info a {
    font-size: 14px;

    &--address {
      margin-bottom: 48px;
    }
  }

  .contacts__note {
    font-size: 12px;
  }

  .contacts__icon {
    margin-right: 15px;
    margin-top: 7px;
  }
}

@media (max-width: $tablet-width) {
  .contacts--mob {
    display: block;

    & .contacts__icon {
      fill: white;
      opacity: 0.6;

      &--address {
        margin-top: 20px;
      }
    }
  }

  .contacts__icon--phone {
    margin-right: 3px;
  }

  .contacts__icon--address {
    margin-top: 20px;
  }

  .contacts__info,
  .contacts__info a {
    color: white;
    line-height: 17px;

    .contacts--mob & {
      opacity: 0.6;
      line-height: 26px;
    }

    &--phone {
      margin-bottom: 21px;
    }

    &--email {
      margin-bottom: 14px;
    }

    &--address {
      text-align: left;
      margin-bottom: 19px;
      margin-top: 17px;
    }
  }
}
