.features__index {
  margin: 0;
  padding: 0;
}

.features__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0;
}

.features__item {
  position: relative;
  padding-bottom: 0;
  padding-top: 98px;
  margin-bottom: 0;
  width: 240px;
  text-align: center;
  background-color: transparent;
  opacity: 1;

  &::after {
    content: "";
    position: absolute;
    bottom: 70px;
    left: 49%;
    opacity: 0.7;
    transform: translateX(-50%);
  }

  &--production {
    left: 7px;

    &::after {
      width: 70px;
      height: 69px;
      background: url("../img/icon-production.svg");
    }
  }

  &--conditions {
    left: -10px;

    &::after {
      width: 74px;
      height: 49px;
      background: url("../img/icon-handshake.svg");
    }
  }

  &--garantee {
    left: -20px;

    &::after {
      width: 62px;
      height: 64px;
      background: url("../img/icon-garantee.svg");
    }
  }

  span {
    display: block;
    margin: 0 auto;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    opacity: 0.6;
    color: white;
  }

  &--active {
    line-height: 20px;
    transform: scale(1);
  }
}

@media (max-width: $desktop-width) {
  .features__index {
    margin: 0 auto;
    padding: 0 22px;
  }

  .features__list {
    padding-top: 65px;
  }

  .features__item {
    position: relative;
    left: 0;
    padding-bottom: 33px;
    background-color: white;
    box-shadow: 0 10px 18px 2px rgba(0, 0, 0, 0.05);
    border: none;

    &--conditions::after {
      background: url("../img/icon-handshake-dark.svg");
    }

    &--garantee::after {
      background: url("../img/icon-garantee-dark.svg");
    }

    &--production::after {
      background: url("../img/icon-production-dark.svg");
    }

    span {
      max-width: 190px;
      font-size: 12px;
      line-height: 16px;
      opacity: 1;
      color: black;
    }

    &--active {
      transform: scale(1.22);
      z-index: 1;
    }

    &--garantee,
    &--production {
      opacity: 0.7;
    }

    &::after {
      top: 25px;
    }

    &--active::after {
      top: 40px;
    }
  }

  .features__toggles {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 55px;
    margin: 27px auto 0;
  }
}

@media (max-width: $tablet-width) {
  .features__list {
    padding-top: 0;
  }

  .features__item span {
    margin: 0 auto;
    max-width: 220px;
    font-size: 14px;
    line-height: 20px;
  }

  .features__item {
    padding-top: 118px;
    padding-bottom: 40px;
    margin-bottom: 0;
    border: 1px solid $grey;
    width: 100%;
    box-shadow: none;

    &--active {
      transform: scale(1);
    }

    &::after {
      top: 40px;
    }

    &--garantee,
    &--production {
      display: none;
    }

    &--conditions::after {
      width: 89px;
      height: 59px;
    }
  }

  .features__toggles {
    margin-top: 6px;
    margin-bottom: 45px;
  }
}
