.main-block__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-block {
  width: 100%;
  padding-top: 130px;
  background: url("../img/main-mob.jpg") no-repeat;
  background-size: cover;
  background-color: $dark-blue;
}

.main-block__title {
  margin: 0 auto 25px;
  order: 1;
  text-transform: uppercase;
  max-width: 280px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  font-family: $raleway;
  letter-spacing: 1px;
  text-align: center;
  color: white;
}

.main-block__desc {
  margin: 0 auto 60px;
  order: 2;
  max-width: 260px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-family: $roboto;
  text-align: center;
  color: white;
}

.main-block__description {
  margin: 0 -20px;
  padding: 36px 20px;
  order: 4;
  background-color: white;
}

.main-block__btn {
  margin-bottom: 52px;
  order: 3;
}

.main-block__services-btn,
.main-block__contact-btn {
  padding: 17px 0;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
}

.main-block__services-btn {
  margin-bottom: 10px;
}

.main-block__contact-btn {
  background-color: transparent;
  border: 1px solid $light-green;
  color: white;
}

.main-block__features-list {
  @include reset-list;
}

.main-block__features {
  order: 6;
  background-color: white;
}

.main-block__features-item span {
  margin: 0 auto;
  padding-top: 120px;
  display: block;
  max-width: 220px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: black;
}

.main-block__features-item {
  position: relative;
  border: 1px solid $grey;
  width: 100%;
  height: 200px;

  &--garantee,
  &--production {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 42px;
    left: 50%;
    opacity: 0.7;
    transform: translateX(-50%);
  }

  &--conditions::after {
    width: 89px;
    height: 59px;
    background: url("../img/icon-handshake-dark.svg");
  }

  &--garantee::after {
    width: 62px;
    height: 64px;
    background: url("../img/icon-garantee-dark.svg");
  }

  &--production::after {
    width: 70px;
    height: 69px;
    background: url("../img/icon-production-dark.svg");
  }
}

@media (min-width: $tablet-width) {
  .main-block {
    padding: 134px 42px 0 62px;
    background: url("../img/main-tabl.jpg") no-repeat;
    background-size: cover;
    background-position: 74% bottom;
  }

  .main-block__title {
    margin: 0 0 22px;
    max-width: 620px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: left;
  }

  .main-block__desc {
    display: none;
  }

  .main-block__description {
    display: block;
    margin: 0 0 85px;
    max-width: 600px;
    font-size: 16px;
    line-height: 19px;
    color: white;
    background-color: transparent;
  }

  .main-block__green {
    color: $light-green;
  }

  .main-block__btn {
    order: 4;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .main-block__services-btn,
  .main-block__contact-btn {
    flex: 0 0 290px;
  }

  .main-block__services-btn {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .main-block__features {
    margin: 0 -42px 0 -62px;
  }

  .main-block__features-list {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
  }

  .main-block__features-item {
    position: relative;
    width: 230px;
    height: 200px;
    box-shadow: 0 10px 18px 2px rgba(0, 0, 0, 0.05);

    &--conditions {
      transform: scale(1.22);
    }

    &--garantee,
    &--production {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-block {
    padding: 156px 0 80px;
    background: url("../img/main-desk.jpg") no-repeat;
    background-size: cover;
  }

  .main-block__title {
    margin-bottom: 39px;
    max-width: 100%;
    font-size: 72px;
    line-height: 86px;
  }

  .main-block__description {
    margin-bottom: 60px;
    max-width: 1000px;
    font-size: 24px;
    line-height: 29px;
  }

  .main-block__btn {
    margin-bottom: 150px;
  }

  .main-block__services-btn,
  .main-block__contact-btn {
    flex: 0 0 300px;
  }

  .main-block__features {
    display: block;
    order: 5;
  }

  .main-block__features-item {
    max-width: 235px;
    font-size: 15px;
    line-height: 18px;
    font-family: $roboto;
    text-align: center;
    opacity: 0.6;
    color: white;
  }
}
