.main-block {
  padding-top: 130px;
  background: url("../img/main-mob.jpg") no-repeat;
  background-size: cover;
  background-color: $dark-blue;
}

.main-block__index {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.main-block__title {
  margin: 0 auto 25px;
  order: 1;
  text-transform: uppercase;
  max-width: 280px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  font-family: $raleway;
  letter-spacing: 1px;
  text-align: center;
  color: white;
}

.main-block__desc {
  margin: 0 auto 60px;
  order: 2;
  max-width: 260px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-family: $roboto;
  text-align: center;
  color: white;
}

.main-block__btn {
  margin-bottom: 52px;
  order: 3;
}

.main-block__description {
  margin: 0 -20px;
  padding: 36px 20px;
  order: 4;
  background-color: white;
}

.main-block__services-btn,
.main-block__contact-btn {
  padding: 17px 0;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;

  &:hover,
  &:focus {
    box-shadow: 0 2px 6px 1px rgba(0, 255, 216, 0.65);
  }
}

.main-block__services-btn {
  margin-bottom: 10px;
}

.main-block__contact-btn {
  background-color: transparent;
  border: 1px solid $light-green;
  color: white;
}

.main-block__features {
  order: 6;
  background-color: white;
}

@media (min-width: $tablet-width) {
  .main-block {
    padding-top: 0;
    background: url("../img/main-tabl.jpg") no-repeat;
    background-size: cover;
    background-position: center top;
  }

  .main-block__index {
    padding: 134px 42px 0 62px;
    min-height: 600px;
  }

  .main-block__title {
    margin: 0 0 22px;
    max-width: 620px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: left;
  }

  .main-block__desc {
    display: none;
  }

  .main-block__description {
    margin: 0 0 85px;
    max-width: 600px;
    font-size: 16px;
    line-height: 19px;
    color: white;
    background-color: transparent;
  }

  .main-block__green {
    color: $light-green;
  }

  .main-block__btn {
    order: 4;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .main-block__services-btn,
  .main-block__contact-btn {
    flex: 0 0 290px;
  }

  .main-block__services-btn {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .main-block {
    background: url("../img/main-desk.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .main-block__title {
    margin-bottom: 20px;
    max-width: 100%;
    font-size: 72px;
    line-height: 86px;
  }

  .main-block__description {
    margin-bottom: 60px;
    padding-bottom: 0;
    max-width: 1000px;
    font-size: 24px;
    line-height: 29px;
  }

  .main-block__btn {
    margin-bottom: 80px;
  }

  .main-block__services-btn,
  .main-block__contact-btn {
    flex: 0 0 300px;
  }

  .main-block__features {
    order: 5;
    padding-bottom: 84px;
    background-color: transparent;
  }
}
