.main-nav__toggle {
  display: block;
  content: "";
  position: absolute;
  top: 23px;
  right: 20px;
  height: 19px;
  z-index: 2;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.main-nav__list {
  margin: 0 -20px;
  padding: 0;
  list-style: none;
  display: none;
  text-align: center;
  background-color: $smoky-grey;
}

.main-nav__item {
  border-top: 1px solid rgba(0, 0, 0, 0.05);

  &:first-child {
    border: none;
  }
}

.main-nav__link {
  display: block;
  padding: 13px 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  font-family: "Circe", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: $grey-shadow;
}

.main-nav__link[href] {
  &:hover {
    color: black;
  }
}

@media (max-width: $desktop-width - 1) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--closed .main-nav__toggle {
    background: url("../img/icon-mobile-menu.svg") no-repeat 50% 50%;
    width: 20px;
  }

  .main-nav--opened .main-nav__list {
    display: block;
  }

  .main-nav--no-js .main-nav__toggle {
    display: none;
  }

  .main-nav--opened .main-nav__toggle {
    background: url("../img/icon-close.svg") no-repeat 50% 50%;
    width: 19px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    left: 167px;
  }

  .main-nav__list {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 208px;
    overflow: hidden;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    max-width: 370px;
  }

  .main-nav__list {
    position: static;
    display: flex;
    flex-wrap: wrap;
    min-width: 340px;
    max-width: 600px;
    background-color: white;
  }

  .main-nav__item {
    margin-left: 18px;
    padding-right: 0;
    border-top: none;
  }

  .main-nav__link {
    padding: 20px 0;
    font-size: 10px;
  }
}
