.services {
  margin-top: 100px;
  margin-bottom: 65px;
}

.services__header {
  margin: 0;
  border: 0;
  padding: 0 0 22px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 900;
  text-transform: uppercase;
  background-color: white;

  &--construction-works {
    padding: 0 0 10px;
  }

  &--process-connection {
    padding: 0 0 14px;
  }
}

.services__title {
  margin: 0 0 20px;

  &::after {
    width: 870px;
    left: 300px;
  }
}

.services__list,
.services__item ul {
  @include reset-list;
}

.services__list {
  padding: 0 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__item {
  width: 360px;
  margin-bottom: 43px;
  padding: 32px 54px 32px 33px;
  box-shadow: 0 5px 9px 1px rgba(0, 0, 0, 0.05);
  min-height: 497px;
}

.services__piece a {
  display: block;
  margin: 0;
  padding: 0 0 16px;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  color: black;
  background-color: white;
  opacity: 0.77;

  &:hover {
    text-decoration: underline;
    opacity: 0.77;
  }

  &span {
    display: block;
  }
}

@media (max-width: $desktop-width - 1) {
  .services__item--closed .services__piece {
    display: none;
  }

  .services__item--opened .services__piece {
    display: block;
  }

  .services__item--no-js .services__piece {
    display: none;
  }
}

@media (max-width: $desktop-width) {
  .services {
    margin-top: 44px;
  }

  .services__title {
    margin: 44px 0 25px;
  }

  .services__list {
    padding: 0;
  }

  .services__item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 0 352px;
    margin-bottom: 10px;
    padding: 0;
    min-height: auto;
    box-shadow: none;

    &::after {
      display: block;
      position: absolute;
      content: "";
      top: 22px;
      right: 20px;
      width: 0;
      height: 0;
      border-top: 5px solid #aeadad;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
    }

    &--opened::after {
      border-top: 5px solid black;
    }
  }

  .services__header {
    display: inherit;
    margin: 0;
    padding: 0 73px 0 22px;
    min-height: 50px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    align-items: center;

    .services__item--opened & {
      margin-bottom: 0;
      border: none;
      box-shadow: none;
      background-color: $grey-fossil;
    }

    .services__item--closed & {
      background-color: $grey-silver;
    }
  }

  .services__piece a {
    font-size: 14px;
    line-height: 17px;
    background-color: $grey-silver;

    .services__item--opened & {
      margin: 0;
      padding: 12px 20px;
    }

    &:hover {
      outline: 1px solid $green;
      box-shadow: inset 0 2px 10px 2px rgba(0, 255, 215, 0.65);
      text-decoration: none;
    }
  }
}

@media (max-width: $tablet-width) {
  .services {
    margin-top: 46px;
    margin-bottom: 42px;
  }

  .services__header {
    display: flex;
    align-items: center;
    margin: 0 -20px 8px;
    padding: 16px 20px;
    max-height: 58px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    background-color: $grey-pinkish;

    .services__item--opened & {
      margin-bottom: 0;
      font-size: 16px;
      border: 1px solid $green;
      box-shadow: inset 0 2px 10px 2px rgba(0, 255, 215, 0.65);
    }
  }

  .services__title {
    margin: 0 0 25px;
  }

  .services__piece a {
    display: none;

    .services__item--opened & {
      display: flex;
      align-items: center;
      margin: 0 -20px;
      padding: 0 30px 0 20px;
      min-height: 40px;
      font-size: 12px;
      line-height: 15px;
      color: black;
      background-color: white;
      border-bottom: 1px solid $grey-pinkish;
      box-shadow: none;
      outline: none;
    }

    & span {
      display: none;
    }
  }

  .services__item {
    flex: auto;
    margin-bottom: 0;
    width: 100%;

    &::after {
      top: 25px;
      right: 0;
    }
  }
}
