html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 26px;
  font-family: $roboto;
  text-align: center;
  text-decoration: none;
  border: 0;
  color: black;
  background-color: $light-green;
}

.container {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: $desktop-width) {
  .container {
    width: 768px;
    padding-left: 22px;
    padding-right: 22px;
  }
}

@media (max-width: $tablet-width) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
