$roboto: "Roboto", "Arial", sans-serif;
$circe: "Circe", "Arial", sans-serif;
$raleway: "Raleway", "Arial", sans-serif;
$grey-dark: #333333;
$smoky-grey: #e7e7e7;
$grey: #dedede;
$grey-shadow: #707070;
$light-black: #1c1c1c;
$light-green: #00ffd8;
$dark-blue: #04101b;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1190px;
