$roboto: "Roboto", "Arial", sans-serif;
$circe: "Circe", "Arial", sans-serif;
$raleway: "Raleway", "Arial", sans-serif;
$grey-dark: #333333;
$smoky-grey: #e7e7e7;
$grey: #dedede;
$grey-shadow: #707070;
$grey-cloud: #959595;
$grey-coin: #dddddd;
$grey-pinkish: #e8e8e8;
$grey-silver: #f4f4f4;
$grey-fossil: #d7d7d7;
$grey-dove: #707070;
$grey-light: #383838;
$grey-fog: #666666;
$mink: #575757;
$dark-grey: #b2b2b2;
$light-black: #1c1c1c;
$light-green: #00ffd8;
$green: #00ffd7;
$emerald: #50b2af;
$dark-blue: #04101b;
$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1180px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
